In [2]:

library(bigrquery)
library(lubridate) 

# Store the project ID
project_id = "yhcr-prd-phm-bia-core"

sourcedb <-"yhcr-prd-phm-bia-core.CB_MYSPACE_JDB"

Attaching package: ‘lubridate’


The following objects are masked from ‘package:base’:

    date, intersect, setdiff, union

In [3]:
#Using a loop to make the text nuill into actual nulls
#Your loop references this table
#You run this to load the list of tables into the dataframe "table"

sql3 <-paste('select table_name, column_name  from ' ,sourcedb,'.INFORMATION_SCHEMA.COLUMNS where data_type = "STRING" 
and (column_name like "%date%" or column_name like "%dt%" or column_name like "%age%" or column_name like "%time%")  ;', sep = "")
tb3 <- bq_project_query(project_id, sql3)

table <- bq_table_download(tb3)
#table

In [ ]:
#Using a loop to make the text nuill into actual nulls
#Your loop references this table
#You run this to load the list of tables into the dataframe "table"
# CAULTION - THIS WILL UPDATE ALL NULLS everywhere !! 

sql3 <-paste('select table_name, column_name  from ' ,sourcedb,'.INFORMATION_SCHEMA.COLUMNS where data_type = "STRING" ;', sep = "")
tb3 <- bq_project_query(project_id, sql3)

table <- bq_table_download(tb3)
table

In [ ]:
#This then loops through the data frame until the end
# uses the two variables table[[i, 1]] and table[[i, 2]]
# in the query

for(i in 2:nrow(table)) 
{
# for-loop over columns
#    print(paste0("Table: ", table[[i, 1]]))
#    print(paste0("Table: ", table[[i, 2]]))
    temp_sql_query  <-paste('update ' ,sourcedb,'.',table[[i, 1]] ,' set ', table[[i, 2]] ,' = null where ', table[[i, 2]] , ' = "NULL"'  , sep = "") 
#    print (temp_sql_query)    
    temp_queried_table <- bq_project_query(project_id, temp_sql_query)
    #section below just brings this back to R 
    #temp_table <- bq_table_download(temp_queried_table)

    #Prints out a confirmation message for each update
    #print(paste0("Done: ", table[[1, 1]],' ', table[[1, 2]]))
    #cat("\n")
}


fred <-paste('Done all nulls ' ,Sys.time() + hours(1), sep = "")
print (fred)

print('Now open BigQuery and run Make_Staging_Database_Warehouse_FDM_Format')
print('Once complete you can then run 2_Make_Warehouse_FDM_FULL_V1.0.ipynb')